
            <link rel="stylesheet" href="../static/css/create_event-style.css">
            <li>

                <div class="collapsible-header" style="max-height: 9em;">

                    <div class="row">

                        <div class="col s4">
                            <div class="row">
                                <div class="col s10 cyan darken-3 z-depth-2" style="margin-top: 2em;text-align: center;">
                                    <span class="flow-text">{{ record.activity_name }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col s4">
                            <div class="row">
                                <span class="flow-text"
                                style="color:darkblue"><b>Location:</b>
                                </span>
                            </div>
                            <div class="row">
                                <span class="flow-text"
                                style="color:darkblue; font: caption">
                                    1100 South Marrieta Parkway
                                </span>
                            </div>
                        </div>

                        <div class="col s4">
                            <div class="row">
                                <span class="flow-text"
                                style="color:darkblue"><b>Category:</b>
                                </span>
                            </div>
                            <div class="row">
                                <span class="flow-text"
                                style="color:darkblue; font: caption">
                                    {{ record.category_name }}
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="collapsible-body white" style="text-align: center;">
                    <div class="row">
                        <div class="col s6" style="vert-align: bottom"; align="middle">
                            <div class="row" style="margin-top: 5em">
                                <span class="flow-text"
                                      style="color:darkblue"><b>Date Time:</b>
                                </span>
                            </div>
                            <div class="row">
                                <span class="flow-text"
                                      style="color:darkblue; font: caption">
                                    {{ record.datetime }}
                                </span>
                            </div>
                            <div class="row" style="margin-top: 5em">
                                <span class="flow-text"
                                      style="color:darkblue">
                                </span>
                            </div>
                            <form method="post">
                                {% if user[0]['id'] != record.leader %}
                                    {% if user[0]['id'] in u_activities[record.activity_id] %}
                                        <button class="yellow btn-flat" disabled
                                                style="width: 100%;
                                                text-align: center;
                                                color: red"
                                                type="submit"
                                                name="join">Participant
                                        </button>
                                    {% else %}
                                        <button class="red btn waves-effect waves-light"
                                                style="width: 100%; text-align: center" type="submit"
                                                name="join">Join
                                        </button>
                                    {% endif %}
                                {% else %}
                                    <button class="btn-flat blue waves-light"
                                            disabled
                                            style="width: 100%;
                                            text-align: center;
                                            color: white">Leader</button>
                                {% endif %}
                                <input class="red" value="{{ record.activity_id }}" name="activity-id" hidden>
                                <input class="red" value="{{ record.private }}" name="activity-private" hidden>
                            </form>
                        </div>
                        <div class="col s2">
                            <div class="row" style="margin-top: 5em">
                                <span class="flow-text"
                                      style="color:darkblue"><b>Skill:</b>
                                </span>
                            </div>
                            <div class="row">
                                <span class="flow-text"
                                      style="color:darkblue; font: caption">
                                    {{ skills[record.skill] }}
                                </span>
                            </div>
                        </div>
                        <div class="col s2">
                            <div class="row" style="margin-top: 5em"; align="left">
                                <span class="flow-text"
                                      style="color:darkblue"><b>Status:</b>
                                </span>
                            </div>
                            <div class="row">
                                <span class="col s6" style="color: darkblue">{{ a[record.private] }}</span>
                            </div>
                            <div class="row">
                                <span class="col s6 cyan darken-3 z-depth-2">
                                    {%print(u_activities[record.activity_id]|length) %} / {{ record.numplayers }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </li>




