
            <link rel="stylesheet" href="../static/css/create_event-style.css">
            <li>

                <div class="collapsible-header" style="max-height: 9em;">

                    <div class="row">

                        <div class="col s4">
                            <div class="row">
                                <div class="col s10 cyan darken-3 z-depth-2" style="margin-top: 2em;text-align: center;">
                                    <span class="flow-text">{{ record.activity_name }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col s4">
                            <div class="row">
                                <span class="flow-text"
                                style="color:darkblue"><b>Location:</b>
                                </span>
                            </div>
                        </div>

                        <div class="col s4">
                            <div class="row">
                                <span class="flow-text"
                                style="color:darkblue"><b>Category:</b>
                                </span>
                            </div>
                            <div class="row">
                                <span class="flow-text"
                                style="color:darkblue; font: caption">
                                    {{ record.category_name }}
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="collapsible-body white" style="text-align: center;">
                    <script>

            function initAutocomplete() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: -33.8688, lng: 151.2195},
                zoom: 13,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            // Create the search box and link it to the UI element.
            var input = document.getElementById('pac-input');
            var searchBox = new google.maps.places.SearchBox(input);
            map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

            // Bias the SearchBox results towards current map's viewport.
            map.addListener('bounds_changed', function () {
                searchBox.setBounds(map.getBounds());
            });

            var markers = [];
            // Listen for the event fired when the user selects a prediction and retrieve
            // more details for that place.
            searchBox.addListener('places_changed', function () {
                var places = searchBox.getPlaces();

                if (places.length == 0) {
                    return;
                }

                // Clear out the old markers.
                markers.forEach(function (marker) {
                    marker.setMap(null);
                });
                markers = [];

                // For each place, get the icon, name and location.
                var bounds = new google.maps.LatLngBounds();
                places.forEach(function (place) {
                    var icon = {
                        url: place.icon,
                        size: new google.maps.Size(71, 71),
                        origin: new google.maps.Point(0, 0),
                        anchor: new google.maps.Point(17, 34),
                        scaledSize: new google.maps.Size(25, 25)
                    };

                    // Create a marker for each place.
                    markers.push(new google.maps.Marker({
                        map: map,
                        icon: icon,
                        title: place.name,
                        position: place.geometry.location
                    }));

                    if (place.geometry.viewport) {
                        // Only geocodes have viewport.
                        bounds.union(place.geometry.viewport);
                    } else {
                        bounds.extend(place.geometry.location);
                    }

                });

                map.fitBounds(bounds);

                if (markers.length == 1) {
                    $('#lat').val(markers[0].position.lat());
                    $('#lng').val(markers[0].position.lng());
                }
            });
        }

                </script>
                    <div class="row">

                        <div class="col s4 map-container">
                                <div id="map2">
                                     <div class="row" style="margin-top: 5em">
                                        <span class="flow-text" style="color:darkblue"><b>Map:</b>
                                        </span>
                                     </div>
                                </div>
                        </div>

                        <div class="col s4" style="vert-align: bottom"; align="middle">
                            <div class="row" style="margin-top: 5em">
                                <span class="flow-text"
                                      style="color:darkblue"><b>Date Time:</b>
                                </span>
                            </div>
                            <div class="row">
                                <span class="flow-text"
                                      style="color:darkblue; font: caption">
                                    {{ record.datetime }}
                                </span>
                            </div>
                            <div class="row" style="margin-top: 5em">
                                <span class="flow-text"
                                      style="color:darkblue">
                                </span>
                            </div>
                            <form method="post">
                                {% if user[0]['id'] != record.leader %}
                                    {% if user[0]['id'] in u_activities[record.activity_id] %}
                                        <button class="yellow btn-flat" disabled
                                                style="width: 100%;
                                                text-align: center;
                                                color: red"
                                                type="submit"
                                                name="join">Participant
                                        </button>
                                    {% else %}
                                        <button class="red btn waves-effect waves-light"
                                                style="width: 100%; text-align: center" type="submit"
                                                name="join">Join
                                        </button>
                                    {% endif %}
                                {% else %}
                                    <button class="btn-flat blue waves-light"
                                            disabled
                                            style="width: 100%;
                                            text-align: center;
                                            color: white">Leader</button>
                                {% endif %}
                                <input class="red" value="{{ record.activity_id }}" name="activity-id" hidden>
                                <input class="red" value="{{ record.private }}" name="activity-private" hidden>
                            </form>
                        </div>
                        <div class="col s2">
                            <div class="row" style="margin-top: 5em">
                                <span class="flow-text"
                                      style="color:darkblue"><b>Skill:</b>
                                </span>
                            </div>
                            <div class="row">
                                <span class="flow-text"
                                      style="color:darkblue; font: caption">
                                    {{ skills[record.skill] }}
                                </span>
                            </div>
                        </div>
                        <div class="col s2">
                            <div class="row" style="margin-top: 5em"; align="left">
                                <span class="flow-text"
                                      style="color:darkblue"><b>Status:</b>
                                </span>
                            </div>
                            <div class="row">
                                <span class="col s6" style="color: darkblue">{{ a[record.private] }}</span>
                            </div>
                            <div class="row">
                                <span class="col s6 cyan darken-3 z-depth-2">
                                    {%print(u_activities[record.activity_id]|length) %} / {{ record.numplayers }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </li>




