

            <div class="row">
                <div class="search-filter white z-depth-3">
                   <form class="row" method="GET" action="{{ url_for('search') }}">
                       <div class="input-field col s3" style="margin-left: 1.2em;">
                           <input placeholder="Search" type="text" name="activity-name">
                           <label for="search"></label>
                       </div>
                       <div class="input-field col">
                           <button class="btn waves-effect waves-light" type="submit" name="search">Search</button>
                       </div>
                       <div class="input-field col" style="margin-left: .5em">
                           <input placeholder="Location" type="text" name="location">
                       </div>
                       <div class="input-field col">
                           <select multiple name="category">
                               <option value="" disabled selected>Category</option>
                               <option value="1">example 1</option>
                               <option value="2">example 2</option>
                               <option value="3">example 3</option>
                           </select>
                       </div>
                       <div class="input-field col s1">
                           <input type="date" class="datepicker" name="date">
                           <label for="datepicker">Date</label>
                       </div>
                       <div class="input-field col s2" style="margin-right: -.5em;">
                           <select multiple name="skill">
                               <option value="" disabled selected>Skill Level</option>
                               <option value="1">example 1</option>
                               <option value="2">example 2</option>
                               <option value="3">example 3</option>
                           </select>
                       </div>
                   </form>
                </div>
            </div>