
    <div class="sidebar col l2 m3 s12 cyan darken-2 z-depth-3">
        <div class=" row sidebar-profile-image">
            <img class="circle responsive-img hoverable z-depth-1" src="../static/images/no_pic.png">
        </div>
        <div id="sidebar-div">
            <div class="center-align white-text"><h3>{{ user[0]['uname'] }}</h3></div>
            <ul class="row flow-text white-text" id="sidebar-ul">
                <li><a href="{{ url_for('home') }}"><div class="flow-text white-text"><span>Home</span></div></a></li>
                <li><a href="{{ url_for('profile') }}"><div class="flow-text white-text"><span>View Profile</span></div></a></li>
                <li><a href="{{ url_for('rosters') }}"><div class="flow-text white-text"><span>View Rosters</span></div></a></li>
                <li><a href="{{ url_for('search') }}"><div class="flow-text white-text"><span>Calendar</span></div></a></li>
                <li><a href="{{ url_for('logout') }}"><div class="flow-text white-text"><span>Logout</span></div></a></li>
            </ul>
        </div>
    </div>
