.input_form {
    margin-top: 5em;
    float: left
}
.main-content {
    margin-left: 25%;
}

.profile {
    margin-left: 20%;
    margin-right: 20%;

}

.profile-content {
    background-color: ivory;
    border: inset black;
    border-radius: 5%
}

.input-field label {
    color: black;
    left: 0.75rem
   }
.input-field{
    position: relative;
    float: right;
    margin-left: 5px;
}

.btn-floating {
    display: inline-block;
    position: relative;
    margin-left: 2em;
    overflow: hidden;
    z-index: 5;
    width: 20em;
    height: 10em;
    line-height: 50px;
    background-color: ivory;
    border-radius: 20%;
    border-width: 5em;
    transition: .4s ease-out;
    cursor: pointer;
    vertical-align: middle;
}
.btn-floating a{
  color: #FFFFFF;
}

.btn-floating i {
  width: inherit;
  display: inline-block;
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
  line-height: 3rem;
}

.btn-floating:hover {
    background-color: mediumturquoise;
}

.btn-floating:before {
  border-radius: 0;
}

button.btn-floating {
  border: outset black;
}

