.sidebar {
    height: 100%;
    position: fixed;
    margin-top: 5px;
}

.sidebar-profile-image {
    margin-top: 3em;
    text-align: center;
}
#sidebar-div{
    margin-right: 0;
}
#sidebar-ul{
    text-align: center;
}

ul li{
    display: block;
    color: white;
}
ul li a div{
    line-height: 2.5em;
    height: 2.5em;
}
ul li a div span{
    font-size: 1.3em;
}
ul li:hover{
    background: #006064;
}
ul li:active{
    background: #006064;
}


