.playerList{
    height: 20em;
    max-height: 20em;
    overflow-y: scroll;
}
.eventList{
    height: 58em;
    max-height: 58em;
    overflow-y: scroll;
    margin-top: 1em;
}

#rostersContent {
    margin-top: 3em;
}

#container{
    width: 98%;
}
ul{
    margin-top: 0;
}
.roster li{
    display: block;
    padding-left: 1em;
}

.roster li a div{
    height: 1.5em;
    line-height: 1.5em;
}
.roster li a div span{
    font-size: 1em;
}

#selectable-activities .ui-selected {
    background: #82B1FF;
    color: white;
}

#selectable-unapproved .ui-selected {
    background: #82B1FF;
    color: white;
}

#selectable-approved .ui-selected {
    background: #82B1FF;
    color: white;
}