

{% extends "template.html" %}
{% block header %}
{{ super() }}
{% endblock header %}
{% block content %}

<!--Import CSS for home and profile page-->
<link id="size-stylesheet" rel="stylesheet" href="../static/css/home-profile-style.css">

{% include "partials/navbar_partial.html" %}
<div class="row">
{% include "partials/sidebar_partial.html" %}
    <div class=" col l10 offset-l2 main-content" align="center">
        <!-- Teal page content  -->
              <br>
              <br>
              <br>
        <p class="flow-text"><h1>Welcome {{ user[0]['uname'] }}!</h1></p>
        <p class="flow-text">Join a current activity or start your own.</p>
              <br>


            <button class="btn-floating z-depth-3" onclick='goToCalender()' onmouseover="changeText()" onmouseout="changeBack()">
                 <p class="flow-text button_text waves-effect"> JOIN ACTIVITY</p>
            </button>

            <button class="btn-floating z-depth-3" onclick='goToCreateActivity()' onmouseover="changeText()" onmouseout="changeBack()">
                 <p class="flow-text button_text waves-effect"> CREATE ACTIVITY</p>
            </button>


    </div>



</div>

<script>
    function changeBack(){
        $(".button_text").css("color", "black")
    }
    function changeText(){
        $(".button_text").css("color", "white")
    }

    function goToCalender(){
        var url = window.location.hash;
        url += '{{ url_for('search') }}';
        window.location.replace(url)
    }

    function goToCreateActivity(){
        var url = window.location.hash;
        url += '{{ url_for('create_event') }}';
        window.location.replace(url)
    }

    function adjustStyle(width) {
        width = parseInt(width);
        if (width < 600) {
            $(".sidebar").css("position", "relative");
            $(".btn-floating").css("width", "95%");
            $(".btn-floating").css("border-radius", "5%");
            $(".btn-floating").css("margin-left", "0");
            $(".main-content").css("margin-left", "0");


        } else {
            $(".sidebar").css("position", "fixed");
            $(".btn-floating").css("width", "20em");
            $(".btn-floating").css("border-radius", "20%");
            $(".btn-floating").css("margin-top", "2em");
        }
    }
    $(function () {
        adjustStyle($(this).width());
        $(window).resize(function () {
            adjustStyle($(this).width());
        });
    });
</script>
{% endblock content %}