{% extends "template.html" %}
{% block header %}
{{ super() }}
{% endblock header %}
{% block content %}

<!--Import CSS for home and profile page-->
<link id="size-stylesheet" rel="stylesheet" href="../static/css/home-profile-style.css">

{% include "partials/navbar_partial.html" %}
<div class="row">
{% include "partials/sidebar_partial.html" %}
    <div class="col s10 offset-l2">
    <div class="profile">
        <form class="col s12 profile-content z-depth-3" style="margin-top: 5em;" method="post" action="{{ url_for('profile') }}">
          <div class="input-field col s12">
              <h5 class="center grey-text">{{ user[0]['uname'] + "\'s profile" }}</h5>
              <br>
          </div>
          <div class="row s10 offset-s1">
              <div class="input-field col s5 offset-s1">
                  <input placeholder="{{ user[0]['fn'] }}" name="fname" type="text" class="validate">
                  <label for="first_name">First Name</label>
              </div>
              <div class="input-field col s5">
                  <input placeholder="{{ user[0]['ln'] }}" name=lname type="text" class="validate">
                  <label for="lname">Last Name</label>
              </div>
          </div>
          <div class="row s10 offset-s1">

            <div class="input-field col s10 offset-s1">
              <input name='password' type="password" class="validate">
              <label for="password">Password</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s10 offset-s1">
              <input name="c_password" type="password" class="validate">
              <label for="password">Confirm Password</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s10 offset-s1">
              <input placeholder="{{ user[0]['email'] }}" name="u_email" type="email" class="validate">
              <label for="u_email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s10 offset-s1">
                <input placeholder="{{ user[0]['phone'] }}" name="phone" type="tel" class="validate">
                <label for="phone">Phone Number</label>
            </div>
          </div>
          <div class="row">
                <p class="center"><input type="submit" value="Done" class="red white-text waves-effect btn-flat"></p>
                  {% if response %}
                    <p class = '{{ css_class }} center'>{{ response }}</p>
                  {% endif %}
          </div>
        </form>
    </div>

</div>
</div>

<script>



    function adjustStyle(width) {
        width = parseInt(width);
        if (width < 600) {
            $(".sidebar").css("position", "relative");
            $(".input-field").css("margin-left", "0em");
            $(".profile").css("margin-left", "1em")
            $(".profile").css("margin-right", "1em")




        } else {
            $(".sidebar").css("position", "fixed");

        }

    }
    $(function () {
        adjustStyle($(this).width());
        $(window).resize(function () {
            adjustStyle($(this).width());
        });
    });
</script>
{% endblock content %}
