{% extends "template.html" %}
{% block header %}
{{ super() }}
{% endblock header %}
{% block content %}

<!--Import CSS for home and profile page-->
<link id="size-stylesheet" rel="stylesheet" href="../static/css/home-profile-style.css">

{% include "partials/navbar_partial.html" %}
<div class="row">
{% include "partials/sidebar_partial.html" %}

    <form class="col s10 card-panel offset-l2" method="get">
      <div>
            <div class="input-field col s9">
              <input disabled value="Neytiri_01" id="disabled" type="text" class="validate">
              <label for="disabled">User Name</label>
            </div>

            <div class="row">
                <div class="input-field col s4">
                  <input placeholder="Zoe" id="first_name" type="text" class="validate">
                  <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s4">
                  <input placeholder="Saldana" id="last_name" type="text" class="validate">
                  <label for="last_name">Last Name</label>
                </div>
            </div>


          <div class="row">
            <div class="input-field col s9">
              <input id="password" type="password" class="validate">
              <label for="password">Password</label>
            </div>
          </div>
            <div class="row">
            <div class="input-field col s9">
              <input id="password" type="password" class="validate">
              <label for="password">Confirm Password</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s9">
              <input placeholder="princess_Neytiri@hometree.com" id="email" type="email" class="validate">
              <label for="email">Email</label>

                <p><input type="submit" value="Done"></p>

            </div>
          </div>

      </div>

    </form>
</div>

<script>
    function adjustStyle(width) {
        width = parseInt(width);
        if (width < 600) {
            $(".sidebar").css("position", "relative");
            $(".input-field").css("margin-left", "2em");
            $(".card-panel").css("margin-left", "3em")

        } else {
            $(".sidebar").css("position", "fixed");
            $(".input-field").css("margin-left", "15em");
        }
    }
    $(function () {
        adjustStyle($(this).width());
        $(window).resize(function () {
            adjustStyle($(this).width());
        });
    });
</script>
{% endblock content %}
