{% extends "template.html" %}
{% block header %}
    {{ super() }}
{% endblock header %}
{% block content %}
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"
            integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw=" crossorigin="anonymous"></script>
    <!-- Link to Results page css-->
    <link id="results-stylesheet" rel="stylesheet" href="../static/css/rosters-page-style.css">
    {% include "partials/navbar_partial.html" %}

    <div class="row">
        {% include "partials/sidebar_partial.html" %}
        <div class="col l9 offset-m3 offset-l3" id="rostersContent">
            <div class="row" id="container">
                <div class="col s12 center white-text">
                    <h1>Rosters</h1>
                </div>

                <div class="col l7 s12 eventList cyan darken-2 z-depth-2">
                    <div class="row" id="selectable-activities">
                        {% for activity in activities %}
                            <div class="col s12">
                                <div class="card cyan darken-1">
                                    <div class="card-content white-text">
                                        <span class="card-title">{{ activity.activity_name }}</span>
                                        <h6 id="{{ activity.activity_id }}-activity-address" class="activity-address">
                                            <script>
                                                $(document).ready(function () {
                                                    setAddress({{ activity.latitude | float}}, {{ activity.longitude | float}}, "{{ activity.activity_id }}-activity-address")
                                                });
                                            </script>
                                        </h6>
                                        <h6 id="{{ activity.activity_id }}-activity-time">
                                            <script>
                                                $(document).ready(function () {
                                                    $('#{{ activity.activity_id }}-activity-time').text(getTimeFromDateTime({{ activity['time'] }}, {{ activity['duration'] }}))
                                                });
                                            </script>
                                        </h6>
                                        <h6>{{ activity.date }}</h6>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="col l3 offset-l1 s12">
                    <div class="row">
                        <div class="col s12 white-text" align="center">
                            <h4>Add Players</h4>
                        </div>
                    </div>

                        <div class="row">
                            <div class="col s12 playerList cyan darken-2 z-depth-2">
                                <form method="get">
                                    <ul class="unapproved-list" id="selectable-unapproved">
                                    </ul>
                                </form>
                            </div>
                        </div>

                        <div class="row" align="center">
                            <a onclick="addPlayerToActivity()" class="waves-effect waves-light btn">Add</a>
                        </div>

                        <div class="col s12 white-text" align="center">
                            <h4>Current Players</h4>
                        </div>

                        <div class="row">
                            <div class="col s12 playerList cyan darken-2 z-depth-2">
                                <ul class="approved-list" id="selectable-approved">
                                </ul>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12" align="center">
                                <a onclick="kickPlayerFromActivity()" class="waves-effect waves-light btn">Kick</a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script>
        $(function () {
            $("#selectable-activities").selectable({
                selected: function (event, ui) {
                    cardDiv = ui.selected;
                    item = $(cardDiv).find('.activity-address');
                    itemID = item.attr('id');
                    activityID = itemID.replace(/-activity-address/, '');


                    $('.unapproved-list').empty();
                    $('.approved-list').empty();

                    unapprovedList = [];
                    approvedList = [];
                    $.getJSON('{{ url_for('rosters') }}', {loadActivityID: activityID}).done(function (json) {
                        $.each(json.users, function (index, value) {
                            if(value.approved == 0){
                                approvedList.push('<li><a href="#!"><div class="flow-text white-text"><span class="playerName">' + value.uname + '</span>' +
                                        '</div><input hidden name="user-id" value="' + value.id +'"> </a></li>');
                            }
                            else{
                                unapprovedList.push('<li><a href="#!"><div class="flow-text white-text"><span class="playerName">' + value.uname + '</span>' +
                                        '</div><input hidden name="user-id" value="' + value.id +'"> </a></li>');
                            }
                        })

                        $('.unapproved-list').append(unapprovedList.join(''));
                        $('.approved-list').append(approvedList.join(''))
                    })
                },
                selecting: function (event, ui) {
                    if ($(".ui-selected, .ui-selecting").length > 1) {
                        $(ui.selecting).removeClass("ui-selecting");
                    }
                }
            });

            $("#selectable-approved").selectable();
            $("#selectable-unapproved").selectable();

        });

        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
        });

        $(document).ready(function () {
            $('select').material_select();
        });

        //grabs the necessary data to update UI, and add user to activity
        function getSelected(listType){
            var activityID;
            var playerID;
            var playerName;

            var selectedActivity = $("#selectable-activities").find('.ui-selected');
            aSelection = $(selectedActivity).find('.activity-address');
            itemID = aSelection.attr('id');
            activityID = itemID.replace(/-activity-address/, '');

            pSelected = $('#'+ listType).find('.ui-selected');
            playerID = pSelected.find("[name='user-id']").attr('value');
            playerName = pSelected.find('.playerName').text();

            var idList = [];
            idList[0] = activityID;
            idList[1] = playerID;
            idList[2] = playerName;
            return idList;
        }

        function addPlayerToActivity(){
            var activityID;
            var selectedUserID;
            var selectedName;
            var values = getSelected("selectable-unapproved");

            //set parameters to use for query??
            activityID = values[0];
            selectedUserID = values[1];
            selectedName = values[2];

            //Add user to approved list, and delete them from unapproved list
            approvedList = [];
            approvedList.push('<li><a href="#!"><div class="flow-text white-text"><span class="playerName">' + selectedName + '</span>' +
                    '</div><input hidden name="user-id" value="' + selectedUserID +'"> </a></li>');
            $('.unapproved-list').find('.ui-selected').remove();
            $('.approved-list').append(approvedList.join(''));

            $.ajax({
                method: "POST",
                url: '/rosters',
                data: {
                    action: "add",
                    activityID: activityID,
                    playerID: selectedUserID
                }
            })
            .done(function(){
                alert("Player added successfully")
            });
        }

        function kickPlayerFromActivity(){
            var activityID;
            var selectedUserID;
            var selectedName;
            var values = getSelected("selectable-approved");

            //to be used for posting info to database...I think.
            activityID = values[0];
            selectedUserID = values[1];
            selectedName = values[2];

            $('.approved-list').find('.ui-selected').remove();

            $.ajax({
                method: "POST",
                url: '/rosters',
                data: {
                    action: "kick",
                    activityID: activityID,
                    playerID: selectedUserID
                }
            })
            .done(function(){
                alert("Player kicked successfully")
            });
        }

        function getTimeFromDateTime(datetime, duration) {
            var rawStartTime = new Date(datetime);
            var rawEndTime = new Date(datetime + (duration * 60000));

            var startHours = Number(rawStartTime.getHours());
            var startMinutes = Number(rawStartTime.getMinutes());
            var endHours = Number(rawEndTime.getHours());
            var endMinutes = Number(rawEndTime.getMinutes());

            var startTime = "" + ((startHours > 12) ? startHours - 12 : startHours);
            startTime += (startMinutes < 10) ? ":0" + startMinutes : ":" + startMinutes;
            startTime += (startHours >= 12) ? " P.M." : " A.M.";
            var endTime = "" + ((endHours > 12) ? endHours - 12 : endHours);
            endTime += (endMinutes < 10) ? ":0" + endMinutes : ":" + endMinutes;
            endTime += (endHours >= 12) ? " P.M." : " A.M.";

            return startTime + " to " + endTime;
        }

        var geocoder;

        function initGeocoder() {
            geocoder = new google.maps.Geocoder;
        }

        function setAddress(lat, lng, id) {
            var latlng = new google.maps.LatLng(lat, lng);

            geocoder.geocode({
                'latLng': latlng
            }, function (results, status) {
                if (status === google.maps.GeocoderStatus.OK) {
                    if (results[0]) {
                        $('#' + id).text(results[0].formatted_address.toString());
                    }
                }
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ maps_key }}&callback=initGeocoder"
    ></script>

{% endblock content %}