{% extends "template.html" %}
{% block header %}
{{ super() }}
{% endblock header %}
{% block content %}

 <!-- Link to Results page css-->
<link id="results-stylesheet" rel="stylesheet" href="../static/css/ResultsPage.css">

{% include "partials/navbar_partial.html" %}
<div class="row">
    {% include "partials/sidebar_partial.html" %}
    <div class="col l10 offset-l2">
        <div class="container">
            {% include "partials/searchFilter_partial.html" %}
            <div class="row">
                <div class="col l12" id="result">
                    <ul class="collapsible" data-collapsible="accordion">
                    {% if results is not none %}
                        {% for record in results %}
                            {% include "partials/resultsDiv_partial.html" %}
                        {% endfor %}
                    {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function adjustStyle(width) {
        width = parseInt(width);
        if (width < 600) {
            $(".sidebar").css("position", "relative");
        } else {
            $(".sidebar").css("position", "fixed");
        }
    }

    $(function () {
        adjustStyle($(this).width());
        $(window).resize(function () {
            adjustStyle($(this).width());
        });
    });

    $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
    });

    $(document).ready(function() {
        $('select').material_select();
    });
</script>

<script src="../static/js/resultsDiv.js"></script>
{% endblock content %}