{% extends "template.html" %}
{% block header %}
{{ super() }}
{% endblock header %}
{% block content %}

 <!-- Link to Results page css-->
<link id="results-stylesheet" rel="stylesheet" href="../static/css/ResultsPage.css">

{% include "partials/navbar_partial.html" %}
<div class="row">
    {% include "partials/sidebar_partial.html" %}
    <div class="col l10 offset-l2" align="center">
        <div class="" id="searchContents">
            {% include "partials/searchFilter_partial.html" %}
            <div class="row">
                <div class="col l12">
                    <ul class="collapsible" data-collapsible="accordion">
                    {% if results is not none %}
                        {% for record in results %}
                            {% include "partials/resultsDiv_partial.html" %}
                        {% endfor %}
                    {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
    });

    $(document).ready(function() {
        $('select').material_select();
    });
</script>

<script src="../static/js/resultsDiv.js"></script>
{% endblock content %}